<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU98yxnsji97Sr3fgQY7PnweqRxpGj_Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>710671663631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mcq.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>multiply-mcq</string>
	<key>STORAGE_BUCKET</key>
	<string>multiply-mcq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710671663631:ios:4a3036dd9f94f36156597a</string>
</dict>
</plist>